---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- 🔗 Google Scholar 소개 -->
<div style="margin-bottom: 2rem;">
  <p>
    You can also find my publications on
    <a href="https://scholar.google.com/citations?user=_Bamlg4AAAAJ&hl=en" target="_blank">
      <i class="ai ai-google-scholar-square" style="font-size: 1.2em;"></i> Google Scholar
    </a>.
  </p>
</div>


<!-- 📚 All Publications (Chronological Order) -->
{% assign sorted_publications = site.publications | sort: 'date' | reverse %}
{% for post in sorted_publications %}
{% include custom-publication.html %}
{% endfor %}