.sidebar .author__avatar {
  width: 100% !important;   /* 사이드바 폭 전체 */
  text-align: center;       /* 안의 이미지 가운데 정렬 */
}

.sidebar .author__avatar img {
  width: 350px !important;  /* 원하는 크기 */
  height: 250px !important;
  border-radius: 0 !important;   /* 원형은 50% */
  object-fit: cover;
  display: inline-block;    /* 가운데 정렬용 */
}